@font-face {
  font-family: Minecraft;
  src: url(Minecrafter-MA3Dw.ttf
);
}
h1 {
  font-family: Minecraft;
  text-align: center;
}
.recipe {
  width: 150px;
  height: 150px;
  border: 5px solid black;
  color: black;
  background-color: white;
  border-radius: 8px;
  align: center;
}
.recipe:hover {
  width: 155px;
  height: 155px;
  border: 5px solid black;
  color: black;
  background-color: #f2f2f2;
  border-radius: 8px;
}

