@charset "UTF-8";
/* General resets */
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Font and body styles */
@font-face {
  font-family: 'Minecraftia';
  src: url('https://fonts.googleapis.com/css2?family=Minecraftia&display=swap');
}

body {
  font-family: 'Minecraftia', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff url('https://i.ibb.co/bH3JY30/IE1G7Lr.png') center/cover no-repeat;
  background-size: cover;
  position: relative;
}

/* Minecraft menu container */
.mc-menu {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: repeat(3, 40px) 16px 40px;
  grid-template-areas:
    '. first .'
    '. second .'
    '. third .'
    '. . .'
    'lang fourth .';
  gap: 8px;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

/* Button styles */
.mc-button {
  width: 100%;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #999 url('https://i.ibb.co/rb2TWXL/bgbtn.png') center/cover no-repeat;
  border: 2px solid #000;
  text-shadow: 2px 2px #000A;
  font-size: 16px;
  user-select: none;
  overflow: hidden;
  white-space: nowrap;
  color: #ddd;
}

/* Button hover and active states */
.mc-button:hover {
  background-color: rgba(100, 100, 255, 0.45);
}

.mc-button:active {
  box-shadow: inset -2px -4px #0004, inset 2px 2px #FFF5;
}

/* Double button layout */
.double {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'left right';
  gap: 8px;
}

/* Specific button layout styles */
.mc-button.first { grid-area: first; }
.mc-button.second { grid-area: second; }
.mc-button.third { grid-area: third; }
.mc-button.lang { grid-area: lang; }
.mc-button.left { grid-area: left; }
.mc-button.right { grid-area: right; }

.mc-button.lang img {
  width: 26px;
  height: 26px;
}
