@font-face {
  font-family: Minecraft;
  src: url(Minecrafter-MA3Dw.ttf);
}

h1, h2 {
  font-family: Minecraft;
  text-align: center;
  font-size: 50px;
  color: white;
}

.recipe {
  width: 400px;
  height: 400px;
  border: 5px solid black;
  color: black;
  background-color: white;
  border-radius: 8px;
  text-align: center;
}

.recipe:hover {
  width: 400px;
  height: 400px;
  border: 5px solid black;
  color: black;
  background-color: #f2f2f2;
  border-radius: 8px;
  text-align: center;
  cursor: pointer
}

.recipe img {
  width: 300px;
  height: 300px;
  object-fit: contain;
}

body {
  background-image: url("background.png");
}

.content {
  text-align: center;
  color: white;
}

.recipeimg {
  width: 30%;
  position: relative;
  border: 1px solid #ebebeb;
  border-radius: 8px;
}

.back {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  cursor: pointer
}

.Material-link {
  color: white;
  text-decoration: underline;
  font-weight: bold;
  transition: color 0.3s ease;
}

.Material-link:hover {
  color: white;
}

.menu-button {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 30px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
}

.search-button {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 30px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  transition: left 0.3s ease-in-out;
}

.sidebar a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  display: block;
}

.sidebar a:hover {
  background: gray;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 25px;
  background: transparent;
  color: white;
  border: none;
  cursor: pointer
}


.error-page {
  background-image: url("background.png");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  font-family: Minecraft;
}

.error-container {
  background: rgba(0, 0, 0, 0.8);
  padding: 30px;
  border-radius: 10px;
  display: inline-block;
  margin-top: 100px;
}

.error-container img {
  width: 200px;
  height: auto;
  margin: 20px 0;
}

.back-home {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 20px;
  background: green;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s;
}

.back-home:hover {
  background: darkgreen;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#search-bar {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #333;
  border-radius: 5px;
  margin-right: 10px;
}

#search-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer
}

#search-btn:hover {
  background-color: #45a049;
}

#search-results {
  margin-top: 20px;
  text-align: center;
}

.recipe-item {
  display: inline-block;
  margin: 10px;
  padding: 20px;
  background-color: white;
  border: 2px solid #333;
  border-radius: 8px;
  text-align: center;
}

.recipe-item img {
  width: 100px;
  height: 100px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-top: 50px;
}

#recipe-type {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
}

#recipe-type option {
  padding: 0px 0px 10px 20px;
}

#recipe-type:hover {
  border-color: #4CAF50;
}

.grid {
  position: relative;
  left: 40.1%;
  top: 5px;
  z-index: 1;
}

.item-grid {
  width: 30px;
  position: absolute;
  z-index: 2;
}

.tooltip-1 {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 41.3%;
  top: 20px;
}

.tooltip-2 {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 44%;
  top: 20px;
}

.tooltip-3 {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 46.8%;
  top: 20px;
}

.tooltip-4 {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 41.3%;
  top: 56px;
}

.tooltip-5 {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 44%;
  top: 56px;
}

.tooltip-6 {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 46.8%;
  top: 56px;
}

.tooltip-7 {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 41.3%;
  top: 91px;
}

.tooltip-8 {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 44%;
  top: 91px;
}

.tooltip-9 {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 46.8%;
  top: 91px;
}

.tooltip-output {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 55.7%;
  top: 56px;
}

/* Tooltip text */
.tooltip-1 .tooltiptext, .tooltip-2 .tooltiptext, .tooltip-3 .tooltiptext, .tooltip-4 .tooltiptext, .tooltip-5 .tooltiptext, .tooltip-6 .tooltiptext, .tooltip-7 .tooltiptext, .tooltip-8 .tooltiptext, .tooltip-9 .tooltiptext, .tooltip-output .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 3;
  top: 15px;
  left: 105%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-1:hover .tooltiptext, .tooltip-2:hover .tooltiptext, .tooltip-3:hover .tooltiptext, .tooltip-4:hover .tooltiptext, .tooltip-5:hover .tooltiptext, .tooltip-6:hover .tooltiptext, .tooltip-7:hover .tooltiptext, .tooltip-8:hover .tooltiptext, .tooltip-9:hover .tooltiptext, .tooltip-output:hover .tooltiptext {
  visibility: visible;
}
